@import url("//cdn.web-fonts.ge/fonts/bpg-quadrosquare-caps-2013/css/bpg-quadrosquare-caps-2013.min.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #181818;
  font-family: "BPG QuadroSquare Caps 2013", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  box-shadow: 0 10px 25px rgba($color: #000000, $alpha: 0.25);
  // border: 3px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 98vw;
  border-radius: 0 0 50px 50px;
  background-color: #212121;
  background-image: url(/images/strsbt.jpg) !important;
  margin-bottom: 1rem;
  z-index: 10;

  .logo {
    // font-size: 1.5rem;
    // border: 3px solid red;
    display: flex;
    align-items: center;
    img {
      width: 50px;
      margin-right: 10px;
      border-radius: 50%;
    }
  }
}

img {
  width: 100%;
  border-radius: 20px;
}

.slides {
  margin-top: 100px;
  display: flex;
  flex-direction: column;

  .slide-page {
    box-shadow: inset 12px 12px 16px 0 rgba(0, 0, 0, 0.5),
      inset -8px -8px 12px 0 rgba(255, 255, 255, 0.1);
    background-color: #181818;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    width: 80vw;
    text-align: center;
    filter: blur(10px);
    transition: 0.5s ease-in-out;
  }
  .slide-page:hover {
    filter: blur(0);
  }

  .title {
    filter: blur(0);
  }

  .before-css {
    .image-container {
      img {
        width: 70%;
        height: 70%;
        border-radius: 30px;
      }
    }
  }

  .css-types {
    // border: 3px solid red;
    .types {
      img {
        width: 100%;
        height: 50%;
        border-radius: 20px;
      }
      h3 {
        color: grey;
      }
    }
  }

  .how-to-center-div {
    img {
      width: 50%;
    }
  }

  .parts {
    img {
      border-radius: 20px;
    }
    .meme {
      width: 30%;
    }
    .site {
      width: 70%;
    }
  }

  .front-and-skull {
    .flex-cont-for-skull {
      display: flex;
      text-align: center;
      .imgs {
        img {
          border-radius: 20px;
        }
      }
      .text {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .languages {
          width: 70%;
          border-radius: 20px;
          margin-bottom: 10px;
        }
        .edit {
          width: 50%;
        }
      }
    }
  }

  .html-only {
    img:nth-child(3) {
      width: 50%;
    }
  }

  .where-to-write {
    .code-editors {
      display: flex;
      width: 100%;
      img {
        width: 30%;
        margin: 10px;
      }
    }
  }

  .mission {
    span {
      color: lime;
    }
  }
  .resources {
    .mission {
      color: yellow;
    }
    .warning {
      color: red;
    }

    .excercises,
    .resource {
      background-color: #181818;
      box-shadow: inset 12px 12px 16px 0 rgba(0, 0, 0, 0.5),
        inset -8px -8px 12px 0 rgba(255, 255, 255, 0.1);
      padding: 1rem;
      border-radius: 20px;
      text-align: left;
      margin-bottom: 1rem;
    }
  }

  .thanks {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
      width: 30%;
      border-radius: 50%;
    }
  }
}
